<?xml version="1.0" encoding="UTF-8"?>
<!--scan:配置文件如果发生改变,将会被重新加载,scanPeriod:设置监测配置文件是否有修改的时间间隔 -->
<configuration scan="true" scanPeriod="60 seconds">
    <springProperty scope="context" name="APP_NAME" source="spring.application.name"/>
    <springProperty scope="context" name="PORT" source="server.port"/>
    <property name="LOG_HOME" value="/Users/lesible/logs/${APP_NAME}"/>
    <!--日志文件名称的前缀部分 -->
    <property name="logFileNamePrefix" value="%d-${APP_NAME}-${PORT}"/>
    <!--日志文件最小切割单位 -->
    <property name="every_file_size" value="15KB"/>
    <!--日志文件保存时间 -->
    <property name="every_his_size" value="5"/>
    <!--用来指定日志文件的上限大小,删除旧的日志 -->
    <property name="maxSize" value="200KB"/>
    <!-- 日志文件的编码 -->
    <property name="log_charset" value="UTF-8"/>
    <!--|日志时间|线程id|端口号|应用名称|类名|方法名|日志级别|traceId |输入参数|输出参数|耗时|任意多个扩展字段|具体打印的msg内容然后换行-->
    <property name="log_pattern"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} [-%5p] [%15.15t] %-40.40C{1.} : %m%n"/>

    <!-- 输出到控制台 -->
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <encoder>
            <pattern>${log_pattern}</pattern>
        </encoder>
    </appender>

    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <maxFileSize>25KB</maxFileSize>
            <fileNamePattern>${LOG_HOME}/${logFileNamePrefix}.%i.gz</fileNamePattern>
            <MaxHistory>5</MaxHistory>
            <totalSizeCap>100KB</totalSizeCap>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>
        <encoder>
            <pattern>${log_pattern}</pattern>
        </encoder>
    </appender>


    <!-- 异步输出基础数据日志 -->
    <appender name="async" class="ch.qos.logback.classic.AsyncAppender">
        <!-- 设置为0表示不丢失日志.默认值为20,当队列还剩20%容量时,则会丢弃TRACE、DEBUG、INFO级别的日志 -->
        <discardingThreshold>0</discardingThreshold>
        <!-- 更改默认的队列的深度,该值会影响性能.默认值为256 -->
        <queueSize>92160</queueSize>
        <!-- 添加到appender,最多只能添加一个 -->
        <appender-ref ref="file"/>
    </appender>

    <!--全局日志输出级别 -->
    <root level="info">
        <appender-ref level="info" ref="stdout"/>
        <appender-ref level="info" ref="file"/>
    </root>
</configuration>